<aside>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class='navbar-brand' [routerLink]='["/"]'>GCCS</a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]='isExpanded'
            (click)='toggle()'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]='{ "show": isExpanded }'>
      <ul class="navbar-nav">
        <li [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' class="nav-item">
          <a [routerLink]='["/"]' (click)='collapse()' class="nav-link">Home</a>
        </li>
        <li [routerLinkActive]='["active"]' class="nav-item">
          <a [routerLink]='["/counter"]' (click)='collapse()' class="nav-link">Counter</a>
        </li>
        <li [routerLinkActive]='["active"]' class="nav-item">
          <a [routerLink]='["/fetch-data"]' (click)='collapse()' class="nav-link">Fetch data</a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
